header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #777777;
}   

nav {
    display: flex;
    justify-content: space-around;
}

body {
    color:  #072f93;
    background-color: #777777;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #072f93;
    text-align: center;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}

nav a:hover{
    color:#777777;
    background-color:#072f93 ;
}

footer {
    background-color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color:white;
    background-color:#072f93 ;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

main{
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#background {
    height: 725px;
}

#hero-img {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: -100px; 
    z-index: -1;
}
.hero-box{
grid-column: 2/3;
grid-row: 1/2;
}

#hero-msg h4 {
    color: white;
}   

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    color: #d9c2a3 ;
    background-color: black;
}

.msg {
    background-color:#d9c2a3 ;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #d9c2a3 ;
}

.msg h2{
    color: #ffffff;
    font-family: 'Helvetica Neue', cursive, 'Brush Scipt MT';
}

.msg p {
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}

.home-grid{
    display: grid;

}

.home-title {
    color: #ffffff;
    font-size: 2em;
    margin-top: 10px;
}

.adele-card, .musk-card, .gaules-card {  
    margin: 200px 0;
}

.adele-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.icon_adele{
    grid-row: 3;
    width: 80px;
    height: 80px; 
}
.musk-card{
    grid-column: 5/7;
    grid-row: 2/3;

}
.icon_musk{
    grid-column: 6;
    width: 80px;
    height: 80px;
}
.gaules-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.icon_gaules{
    grid-row: 9;
    width: 80px;
    height: 80px;
}

.card-img {
    border: 10px solid black;
    width: 378px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.inspiration {
    /*width: 567px;*/
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}








@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .inspiration, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}